html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    padding: 6px 32px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

#left {
    flex: 3;
}

#right {
    flex: 3;
}

table {
    th {
        text-align: left;
        font-weight: bold;
    }
    td {
        vertical-align: top;
    }
}

details {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 10px 14px;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}
